.content
  font-size 14px
  color #333333
  margin 0 auto
  max-width 960px
  border 0px solid red


.pure-menu
  box-shadow 0 1px 1px rgba(0,0,0, 0.10)

.footer
  background #ccc
  color #888
  text-align center
  min-height 200px

.contact-thumbnail  
  background-image url(http://placehold.it/200x200)
  width 200px
  height 200px
  margin-bottom 20px
  

.l-box
  padding 5px
