footer.footer
  .container.pure-g
    .pure-u-18-24
      .pure-menu.pure-menu-open.pure-menu-horizontal
        ul
          li
            a(href='/faq') FAQ
          li.divider.pure-hidden-phone |
          li
            a(href='/terms') T&amp;Cs
          li.divider.pure-hidden-phone |
          li
            a(href='/privacy-and-cookies') Privacy &amp; Cookies
    .pure-u-6-24
      img(src="/images/creditations.png")
