#pricing-packages-modal.modal.content.fade(tabindex='-1', role='dialog', aria-labelledby='pricing-packages-modal-label', aria-hidden='true')
  .pure-g-r
    .pure-u-1
      .pricing-packages-modal-dialog
        .modal-content
          .modal-header
            .pure-g
              .pure-u-23-24
                h2#pricing-packages-modal-label.modal-title UK Formation Packages
                p
              .pure-u-1-24
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×
                  span.sr-only Close

          .modal-body
            table#pricing-packages.pure-table
              thead
                tr
                  th.feature
                  th
                    h4(title="Our online-only offer for rapid registrations with eDocuments") Fastest
                  th
                    h4(title="Delivered paper documents with eDocuments for back-up") Basic
                  th
                    h4(title="Our most popular package! A file of delivered paper documents with eDocuments for back-up") Standard
                  th
                    h4(title="The fullest formation folder including Company Seal, framed for display Certificate and eDocuments for back-up") Executive
              tbody
                tr
                  td.feature Certificate of Incorporation
                  td.fa.fa-lg.fa-check.rm-blue
                  td.fa.fa-lg.fa-check.rm-blue
                  td.fa.fa-lg.fa-check.rm-blue
                  td.fa.fa-lg.fa-check.rm-blue
                tr
                  td.feature Memorandum &amp; Articles of Assoc.
                  td.fa.fa-lg.fa-check.rm-blue
                  td.fa.fa-lg.fa-check.rm-blue
                  td.fa.fa-lg.fa-check.rm-blue
                  td.fa.fa-lg.fa-check.rm-blue
                tr
                  td.feature Share Certificates
                  td.fa.fa-lg.fa-times.rm-blue
                  td.fa.fa-lg.fa-check.rm-blue
                  td.fa.fa-lg.fa-check.rm-blue
                  td.fa.fa-lg.fa-check.rm-blue
                tr
                  td.feature Directors Register
                  td.fa.fa-lg.fa-times.rm-blue
                  td.fa.fa-lg.fa-check.rm-blue
                  td.fa.fa-lg.fa-check.rm-blue
                  td.fa.fa-lg.fa-check.rm-blue
                tr
                  td.feature Corporate Register
                  td.fa.fa-lg.fa-times.rm-blue
                  td.fa.fa-lg.fa-times.rm-blue
                  td.fa.fa-lg.fa-check.rm-blue
                  td.fa.fa-lg.fa-check.rm-blue
                tr
                  td.feature Company Seal
                  td.fa.fa-lg.fa-times.rm-blue
                  td.fa.fa-lg.fa-times.rm-blue
                  td.fa.fa-lg.fa-check.rm-blue
                  td.fa.fa-lg.fa-check.rm-blue
                tr
                  td.feature Display Certificate
                  td.fa.fa-lg.fa-times.rm-blue
                  td.fa.fa-lg.fa-times.rm-blue
                  td.fa.fa-lg.fa-times.rm-blue
                  td.fa.fa-lg.fa-check.rm-blue
                tr
                  td.feature Document File or Case
                  td.fa.fa-lg.fa-times.rm-blue
                  td.fa.fa-lg.fa-check.rm-blue
                  td.fa.fa-lg.fa-check.rm-blue
                  td.fa.fa-lg.fa-check.rm-blue
                tr
                  td.feature
                  td £25.99
                  td £59.99
                  td £79.99
                  td £129.99

          .modal-footer
            .pure-g
              .pure-u-1-5
              .pure-u-4-5
                a.pure-button.pure-button-primary(data-dismiss="modal") OK
