include ../mixins/m-home.jade

.pure-u-1
  .pure-g-r
    .pure-u-1-2
      +rm-intro-box("UK and International Business Reports", "The only consolidator of all the major brand products from D&B, Experian, Equifax, EBR and RM.", "reports")
    .pure-u-1-2
      +rm-intro-box("Company Documents", "Available from Companies House and 200 countries across the globe, many instantly.", "docs")
.pure-u-1
  .pure-g-r
    .pure-u-1-3
      +rm-intro-box("UK Company Formations", "Fast, professional, easy.", "uk-formations")
    .pure-u-1-3
      +rm-intro-box("International Company Formations", "Simple, professional, cost effective.", "int-formations")
    .pure-u-1-3
      +rm-intro-box("Company Admin Services", "Making things simple for you.", "company-admin")

.pure-u-1.home-intro-padding
  &nbsp;