- var formations = true
- var searchButton = "Check name"
- var searchTitle = "Check company name availability"

.pure-u-1
  .l-box
    +breadcrumbs_from(bcList)

    h1.capitalize= title


  .pure-g-r.search
    .pure-u-1-2
      .l-box
        p.intro-copy
          | RM offers a high quality professional company formation service. Our executive package includes everything necessary to commence trading as a UK registered company.
          | All documents are presented in a specially designed case so as the business progresses, official documents can be kept safely and within easy reach.
          | With 40 years experience, RM specialises in establishing and managing companies, trusts and private foundations.
    .pure-u-1-2
      .l-box
        img.intro-icon(src="/images/search/search-icon-large.png", alt="search for company information")

.pure-u-1
  .l-box
    include ../search/_search

if !term
  .pure-u-1-2
    .l-box
      h3 Benefits of the UK formation system
      ul
        li Extremely user friendly
        li Free name availability check
        li UK Limited (LTD) and Public Limited (PLC)
        li Limited Liability Partnerships (LLP’s) available
        li UK formations completed within minutes
        li Directly interfaces with UK Companies House
        li Fully compliant with the 2006 Companies Act
        li Private login area and workflow
        li Save your work in progress and return to it as required
        li Status tracker
        li Multiple share classes possible
        li Online live help facility
  .pure-u-1-2
    .l-box
      h3 Our services include
      ul
        li Readymade Companies
        li UK Limited Companies
        li Limited Liability Partnerships
        li Scottish Limited Partnerships
        li Public Limited Companies
        li Flat Management Companies
        li Limited by Guarantee
