extends index

block main
  .pure-u-1
    .l-box
      +breadcrumbs_from(bcList)
      h1 #{title}

      #checkout-intro

        if url == ""
          p
            | Please review your items and then hit 'checkout' to start the payment process.
            | You'll have the opportunity to pay by credit card or enter your subscriber details
            | and receive any discounts due.

          include includes/_cart.jade
          a.pure-button.pure-button-primary.simpleCart_checkout(href="javascript:;") Checkout

      iframe(name="payment-gateway-iframe", src="#{url}", width="1024", height="1400", seamless, scrolling="no")

block main-js
  if url != ""
    script.
      $(document).ready(function() {
        //- console.log("Thanks for your payment, we're clearing "+simpleCart.quantity()+" items from your shopping cart.")
        simpleCart.empty();
      })

