include mixins/m-common

doctype html
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
html.no-js
  <!--<![endif]-->
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title RM Online: #{title}
    meta(name="description", content="#{meta}")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.4.2/pure-min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro')

    // Place favicon.ico and apple-touch-icon.png in the root directory

    if settings.env != "production"
      //-<!-- build:css public/stylesheets/vendor.min.css -->
      // Bootstrap is customised for modal only functionality
      link(rel='stylesheet', href='/stylesheets/vendor/purecss/grid.css')
      link(rel='stylesheet', href='/stylesheets/vendor/purecss/rm-skin.css')
      link(rel='stylesheet', href='/stylesheets/vendor/hover.css')
      link(rel='stylesheet', href='/bower_components/responsive-tabs/css/responsive-tabs.css')
      link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.css')
      //-<!-- endbuild -->
    else
      link(rel='stylesheet', href='/stylesheets/vendor.min.css')

    if settings.env != "production"
      //-<!-- build:css(.tmp) public/stylesheets/main.min.css -->
      link(rel="stylesheet", href="/stylesheets/main.css")
      //-<!-- endbuild -->
    else
      link(rel="stylesheet", href="/stylesheets/main.min.css")

    if polymer && (settings.env == "production" || settings.env == "development")
      // Polyfill Web Components support for older browsers, must be first
      script(src="/bower_components/platform/platform.js")

      // Polymer imports
      link(rel="import", href="/bower_components/google-map/google-map.html")
      link(rel="import", href="/bower_components/google-map/google-map-search.html")

  body.pure-skin-rm
    <!--[if lt IE 9]>
    p.browsehappy
      | You are using an
      strong outdated
      |  browser. Please
      a(href="http://browsehappy.com/") upgrade your browser
      |  to improve your experience.
    <![endif]-->

    if !excludeHeader
      include includes/_header.jade

    section.content
      .container.pure-g-r
        block main
        .pure-u-1.footer-padding
          | &nbsp;

    if extendTemplate
      section.content.content-grey
        .container.pure-g-r
          block main-grey
          .pure-u-1.footer-padding
            | &nbsp;
      section.content
        .container.pure-g-r
          block main-footer
          .pure-u-1.footer-padding
            | &nbsp;

    if path != '/checkout'
      include includes/_modal-cart.jade
    if !excludeFooter
      include includes/_footer.jade
      include includes/_google.jade

    <!--[if lt IE 9]>
    script(src="/bower_components/es5-shim/es5-shim.js")
    script(src="/bower_components/json3/lib/json3.min.js")
    <![endif]-->

    if settings.env != "production"
      // MSP TODO simpleCart.js contains an edit. Fork repo?
      //-<!-- build:js public/javascripts/vendor.min.js -->
      script(src='/bower_components/jquery/dist/jquery.js')
      script(src='/bower_components/es5-shim/es5-shim.js')
      script(src='/bower_components/json3/lib/json3.min.js')
      script(src='/bower_components/jQuery-Collapse/src/jquery.collapse.js')
      script(src='/bower_components/responsive-tabs/js/jquery.responsiveTabs.min.js')
      script(src='/bower_components/simplecart-js/simpleCart.js')
      // Bootstrap modal is needed by SimpleCart
      // Be careful about pulling in all of Bootstrap as it's collapse will clash
      // with our JQuery Collapse plugin.
      script(src='/bower_components/bootstrap/js/modal.js')
      //-<!-- endbuild -->
    else
      script(src='/javascripts/vendor.min.js')

    if settings.env != "production"
      //-<!-- build:js(.tmp) public/javascripts/main.min.js -->
      script(src='/javascripts/main.js')
      //-<!-- endbuild -->
    else
      script(src='/javascripts/main.min.js')

    if path == "/news"
      script(src="https://www.google.com/jsapi")
      script(src="/javascripts/news.js")

    // zombie craps out with this script
    if settings.env == "production" || settings.env == "development"
      if /search/i.test(path)
        include includes/_autocomplete-js

    block main-js



