@import common

/*Overrides*/
.pure-skin-rm
  .content, .header, .footer
    html, button, input, select, textarea, .pure-g [class *= "pure-u"], .pure-g-r [class *= "pure-u"]
      font-family 'Source Sans Pro', serif
      font-size 16px
      line-height 24px
      h1, h2, h3, h4
        font-family 'Merriweather', serif
        font-weight normal
        color rm-blue
      h1.no-border
        border none
        padding-bottom 0px
      h1.home
        font-size 45px
        line-height 45px
        margin 35px 0px 40px 0px
      h4.grey-font
        color rm-font-color
        font-weight bold
        margin-bottom 5px
      h1
        font-size 30px
        border-bottom 1px solid
        padding-bottom 20px
        margin-bottom 40px
      h2
        font-size 26px
        line-height 34px

  .pure-menu
    li
      a
        padding 10px 10px

.pure-skin-rm .pure-menu li a:hover, .pure-skin-rm .pure-menu li a:focus
  color rm-blue
  background inherit

/*STRUCTURE*/
.container
  rm-layout()
/*header*/
.header
  background #fff
  padding-top 25px
  padding-bottom 20px
  .container
    display flex
    align-items flex-end
  li.divider
    color rm-blue
    display none

  #rm-logo
    background url("/images/rmgroup-logo.png") no-repeat
    width 140px
    height 134px

  #moss-fon-logo
    background url("/images/moss-fon.png") no-repeat
    width 250px
    height 50px

/*body|content*/
.content
  background #efefef
  color #333333
  padding-top 20px

  .breadcrumbs
    font-size small
    text-transform uppercase
    margin-bottom 50px
    list-style none
    padding-left 0px

    li.spacer
      margin 0px 8px

    li
      display inline-block
      margin 0px 2px
      a
        text-decoration none
        color rm-font-color
        &:hover
          text-decoration underline
.content.content-white
  background white

/*footer*/
.footer
  background rm-blue
  padding 30px 0px 30px 0px
  font-size smaller
  .pure-menu
    background rm-blue
    a
      color white
    .divider
      color white

  .pure-menu li a:hover, .pure-skin-rm .pure-menu li a:focus
    color rm-font-color
    background inherit

/*PAGES*/
/*home*/
.intro-copy
  font-size 20px
  line-height 30px
  font-family 'Merriweather', serif
.rm-intro-box
  background #ffffff
  min-height 275px
  margin-top 15px
  margin-bottom 10px

  .half-divider
    border-bottom 1px solid rm-blue
    display block
  .service-intro-copy
    margin-top 0px
    color rm-font-color

.home-intro-padding
  min-height 150px

/*contact*/
#general-enquiries
  background white
  padding 20px

  h3
    margin-top 0px
  label
    font-weight bold
  address
    font-style normal

.contact
  background white
  margin-bottom 40px

  label
    font-weight bold
  .contact-thumbnail
    background-image url(http://placehold.it/200x200)
    width 200px
    height 200px
    margin-top 15px

#contact_documents
  .contact-thumbnail
    background-image url(/images/julia-kanger.jpg)

#contact_formations
  .contact-thumbnail
    background-image url(/images/amanda-coyle.jpg)

#contact_administration
  .contact-thumbnail
    background-image url(/images/nerisa-jarrett.jpg)

/*terms*/
li.terms-section
  padding 10px

/*faq*/
.faq-section
  ul
    list-style none
    padding-left 0px
    li
      background white
      margin-bottom  10px
      padding 15px 10px
      h3
        margin 0px
        a
          background url("/images/faq-sprite.png") 10px 13px no-repeat
          display block
          padding 10px
          padding-left 32px
          margin 0
          text-decoration none
          color rm-font-color
          font-size small
      h3.open
        a
          background-position 8px -88px
      p
        padding 10px 30px 20px 30px
        margin 0px


/*news*/
.news-item
  padding 10px 0px
  border-top 1px solid rm-blue
  h3
    a
      color rm-blue
      text-decoration none
  &:hover
    background #cce6ed !important
#feed-content
  iframe
    width 300px
    height 300px
    margin-bottom 20px
    display none

/*Company*/
.company-data
  h4
    margin-bottom 3px

  p
    font-size 18px
    font-weight bold
    margin-top 0px
    margin-bottom 0px
    color rm-blue


.company-data
  margin-bottom 20px

$report
  padding 20px 20px

.report-box
  background #fff
  margin-left 20px
  display block
  a
    text-decoration none
    color rm-font-color
  .report-one
    @extends $report
    background #cce6ed
  .report-two
    @extends $report
    background #B3DAE4
  .report-three
    @extends $report
    background #9ACDDB

/*general*/
.l-box
  padding 5px 20px 5px 20px

.highlight
  color red

.no-border
  border none

.hide-text
  text-indent 130% // webkit needs more than 100%
  white-space nowrap
  overflow hidden


/*media*/
@media screen and (min-width: 768px)

  .header
    /*pure hidden phone not working in menu*/
    li.divider
      display inline-block
    /*safari can't handle Flex*/
    #moss-fon-logo-container, #top-nav-container
      margin-top 65px

  .faq-section
    ul
      li
        h3
          a
            font-size inherit
