/*Mixins*/
rm-layout()
  margin 0 auto
  max-width 960px

/*Constants*/
rm-blue = #0184a2
rm-font-color = #474747

.pure-skin-rm
  .pure-g-r [class*="pure-u"]
    font-family 'Merriweather', serif
    color rm-font-color
  h1
    font-size 45px
    color rm-blue
    border-bottom 1px solid
    padding-bottom 20px
    
  .pure-menu
    li
      a
        padding 10px 10px
   

.breadcrumbs
  font-size x-small
  text-transform uppercase
  margin-bottom 50px
  a
    text-decoration none
    color rm-font-color
    &:hover
      text-decoration underline

.content
  background #efefef
  color #333333
  padding-top 20px
  
.container
  rm-layout()

.header
  padding-bottom 20px
  .container
    display flex
    align-items flex-end

  background #fff


.footer
  background rm-blue
  padding 30px 0px 30px 0px
  .pure-menu
    background rm-blue
    a
      color white
  

.contact-thumbnail
  background-image url(http://placehold.it/200x200)
  width 200px
  height 200px
  margin-bottom 20px

#contact_documents
  .contact-thumbnail
    background-image url(/images/julia-kanger.jpg)

#contact_formations
  .contact-thumbnail
    background-image url(/images/amanda.jpg)

.l-box
  padding 5px 20px 5px 20px

.highlight
  color red

li.terms-section
  padding 10px

.hide-text
  text-indent 100%
  white-space nowrap
  overflow hidden

#rm-logo
  background url("/images/rmgroup-logo.png") no-repeat
  width 140px
  height 134px

#moss-fon-logo
  background url("/images/moss-fon.png") no-repeat
  width 250px
  height 50px

#feed-content
  iframe
    width 300px
    height 300px
    margin-bottom 20px
    display none