select(name="country", id="country-selector", autofocus="autofocus", autocorrect="off", autocomplete="off", placeholder="type a country")
  each countryOption in countries
    != countryOption

select(name="state", id="state-selector", autofocus="autofocus", autocorrect="off", autocomplete="off", placeholder="type a state")
  each stateOption in states
    != stateOption
