extends search-template

block intro-copy

  p.intro-copy
    | RM provides worldwide document searches as well as Judgment and Bankruptcy searches on Individuals.
    | Reliable and official data delivered quickly.

block country-or-suffix
  include _country-selector

block body-copy

  .pure-g-r
    .pure-u-1.border-bottom
    .pure-u-1-3.documents-info
      .l-box
        h4 Documents provided where available

        ul.fa-ul
          li
            i.fa-li.fa.fa-check
            | Accounts
          li
            i.fa-li.fa.fa-check
            | Directors
          li
            i.fa-li.fa.fa-check
            | Shareholders
          li
            i.fa-li.fa.fa-check
            | Memorandum and Articles of Association
          li
            i.fa-li.fa.fa-check
            | Mortgages
          li
            i.fa-li.fa.fa-check
            | Certificates of Incorporation or Official Extract
          li
            i.fa-li.fa.fa-check
            | Certificate of Good Standing

    .pure-u-1-3.documents-info
      .l-box
        h4 Levels of Official Company Document Delivery

        ul.fa-ul
          li
            i.fa-li.fa.fa-check
            | Normal Registry Copies
          li
            i.fa-li.fa.fa-check
            |Certified Copies (by Registry or Notary)
          li
            i.fa-li.fa.fa-check
            | Certified and Legalised Copies
          li
            i.fa-li.fa.fa-check
            | All documents can be legalised or apostilled from Public Registries and Chambers of Commerce and availability is unique to jurisdiction.

    .pure-u-1-3.documents-info
      .l-box
        h4 The following information listed below is available

        ul.fa-ul
          li
            i.fa-li.fa.fa-check
            | Company Name and Style
          li
            i.fa-li.fa.fa-check
            | Company Number and Date of Incorporation
          li
            i.fa-li.fa.fa-check
            | Company Status
          li
            i.fa-li.fa.fa-check
            | Registered Address

          li
            i.fa-li.fa.fa-check
            | Share Capital, Name of Directors and Beneficiaries
          li
            i.fa-li.fa.fa-check
            | Trading Activities
          li
            i.fa-li.fa.fa-check
            | Financial Details
          li
            i.fa-li.fa.fa-check
            | Constitution

    .pure-u-1.border-bottom

    .pure-u-1-2
      p
        strong Documents are delivered in PDF format.
      p
       | UK documents available immediately. To order an international document or search on an individual contact our experienced team of in-house researchers at 
       a(href="mailto:infodesk@rmonline.com") infodesk@rmonline.com
