extends search-template

block intro-copy

  p.intro-copy
    | RM provides worldwide document searches as well as Judgment and Bankruptcy searches on Individuals.

block country-or-suffix
  include _country-selector

block body-copy

  h4 Documents provided where available:

  ul
   li Accounts
   li Directors
   li Shareholders
   li Memorandum and Articles of Association
   li Mortgages
   li Certificates of Incorporation or Official Extract
   li Certificate of Good Standing

  br

  h4 Levels of Official Company Document Delivery:

  ul
   li Normal Registry Copies
   li Certified Copies (by Registry or Notary)
   li Certified and Legalised Copies
  p All documents can be legalised or apostilled from Public Registries and Chambers of Commerce and availability is unique to jurisdiction.

  br

  h4 The following information listed below is available:

  ul
   li Company Name and Style
   li Company Number and Date of Incorporation
   li Company Status
   li Registered Address

   li Share Capital, Name of Directors and Beneficiaries
   li Trading Activities
   li Financial Details
   li Constitution

  br

  p Documents are delivered in PDF format by email.
  p
   | To order an international document or search on an individual contact our experienced team of in-house researchers at 
   a(href="mailto:infodesk@rmonline.com") infodesk@rmonline.com
