extends ../index

block main
  - var searchTitle = "Search for information on a "+country+" company"
  - var searchButton = "Search"
  - var searchURL = "/search/"+country+"/results"
  include ../includes/_search.jade
