extends search-template

block intro-copy

  p.intro-copy
    | RM provides instant online access to Credit Reports on over 200 million companies from over 220 countries around the world.
    | A wide range of credit, anti-money laundering and compliance solutions to suit your needs and your budget.

block country-or-suffix
  include _country-selector

block body-copy

  .pure-g-r
    .pure-u-1.border-bottom
    .pure-u-1
      h4 Reports are instantly available to the online user containing the following information
      br
    .pure-u-1-3.documents-info
      .l-box
        ul.fa-ul
          li
            i.fa-li.fa.fa-check
            | Ownership and Management
          li
            i.fa-li.fa.fa-check
            | Names of directors, shareholders or proprietors
          li
            i.fa-li.fa.fa-check
            | Capital structure and shareholdings
          li
            i.fa-li.fa.fa-check
            | Names and job titles of senior company personnel
          li
            i.fa-li.fa.fa-check
            | Legal Status and History
          li
            i.fa-li.fa.fa-check
            | Date of incorporation
          li
            i.fa-li.fa.fa-check
            | Legal status, company number and trading style
          li
            i.fa-li.fa.fa-check
            | Registered address
          li
            i.fa-li.fa.fa-check
            | Associated companies

    .pure-u-1-3.documents-info
      .l-box
        ul.fa-ul
          li
            i.fa-li.fa.fa-check
            | Historical information, change of ownership
          li
            i.fa-li.fa.fa-check
            | Operations
          li
            i.fa-li.fa.fa-check
            | Full details of business activities
          li
            i.fa-li.fa.fa-check
            | Equipment employed
          li
            i.fa-li.fa.fa-check
            | Description of premises
          li
            i.fa-li.fa.fa-check
            | Number of employees
          li
            i.fa-li.fa.fa-check
            | Financial Information
          li
            i.fa-li.fa.fa-check
            | Extracts from or full balance sheets (if available) obtained from official registries or directly from the company

    .pure-u-1-3.documents-info
      .l-box
        ul.fa-ul
          li
            i.fa-li.fa.fa-check
            | Registered mortgages and charges
          li
            i.fa-li.fa.fa-check
            | Bankers
          li
            i.fa-li.fa.fa-check
            | Credit Appraisal and Conclusion
          li
            i.fa-li.fa.fa-check
            | An opinion based on the payment experience of trade suppliers, banks, known public records detailed of any court action and protested bills
