extends search-template

block intro-copy

  p.intro-copy
    | RM provides instant online access to Credit Reports on over 200 Million companies from over 220 countries around the world.

block country-or-suffix
  include _country-selector

block body-copy
  h4 Reports are instantly available to the online user containing the following information

  br

  ul
    li Ownership and Management
    li Names of directors, shareholders or proprietors
    li Capital structure and shareholdings
    li Names and job titles of senior company personnel
    li Legal Status and History
    li Date of incorporation
    li Legal status, company number and trading style
    li Registered address
    li Associated companies
    li Historical information, change of ownership
    li Operations
    li Full details of business activities
    li Equipment employed
    li Description of premises
    li Number of employees
    li Financial Information
    li Extracts from or full balance sheets (if available) obtained from official registries or directly from the company
    li Registered mortgages and charges
    li Bankers
    li Credit Appraisal and Conclusion
    li An opinion based on the payment experience of trade suppliers, banks, known public records detailed of any court action and protested bills
