extends layout

block main
  .pure-u-1
    .l-box
      h1 Contact RM
      .l-box
        address
          | Invision house,
          br
          | Wilbury Way,
          br
          | Hitchin,
          br
          | Hertfordshire 
          br
          | SG4 0TW, UK
          br
          br
          small
            a(href="https://goo.gl/maps/QiCjp", target="blank") Open in Google Maps
          br
          br
          | Tel: +44 (0) 1462 427 300
          br
          | Fax: +44 (0) 1462 427 375
          br
          a(href="mailto:sales@rmonline.com") sales@rmonline.com
          br
          br
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque blandit, mi pulvinar malesuada commodo, sapien est pellentesque enim, nec commodo odio ante sodales orci. Nam euismod leo quis augue elementum, quis egestas neque tincidunt. Morbi tincidunt, ligula nec ultrices consequat, nibh enim pretium libero, id cursus nisi ligula a sapien. Praesent eleifend eleifend mi, quis dignissim turpis consequat ac. Praesent mi mi, pulvinar in mi vel, varius pharetra ligula. Pellentesque eu ipsum convallis, pharetra mauris ac, fermentum nibh. Sed sed odio at tellus dignissim consectetur in nec augue. In ultricies gravida sollicitudin. 
  .pure-u-1-3
    .l-box
      h3 Joe Bloggs
      .contact-thumbnail
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque blandit, mi pulvinar malesuada commodo, sapien est pellentesque enim, nec commodo odio ante sodales orci.
  .pure-u-1-3
    .l-box
      h3 John Doe
      .contact-thumbnail
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque blandit, mi pulvinar malesuada commodo, sapien est pellentesque enim, nec commodo odio ante sodales orci. 
  .pure-u-1-3
    .l-box
      h3 Jane Smith
      .contact-thumbnail
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque blandit, mi pulvinar malesuada commodo, sapien est pellentesque enim, nec commodo odio ante sodales orci.