.header
  .pure-g-r
    .pure-u-1
      .l-box
        hr
    .pure-u-1-4
      .l-box
        a.pure-menu-heading(href='#')
          img(src="/images/rmgroup-logo.png", alt="RM Logo")
    .pure-u-12-24
      .pure-menu.pure-menu-open
        ul(ng-controller="NavCtrl", ng-init="partner='#{partner}'")
          li(ng-repeat="navLink in navLinks", ng-class="navClass('{{navLink.link}}')")
            a(href='#/{{navLink.link}}') {{navLink.link_text}}  
    .pure-u-6-24
      .l-box
        a.pure-menu-heading(href='#')
          img(src="/images/moss-fon.png", alt="Mossack Fonseca Logo")
    .pure-u-1
      .l-box
        hr

.content
  .pure-g-r
    block main

.footer
  .pure-menu.pure-menu-open.pure-menu-horizontal
    ul
      li
        a(href='#/faq') FAQ
      li
        a(href='#/terms') T&Cs