.header
  .pure-menu.pure-menu-open.pure-menu-horizontal
    a.pure-menu-heading(href='#') RM Logo

    ul(ng-controller="NavCtrl", ng-init="partner='#{partner}'")
      li(ng-repeat="navLink in navLinks", ng-class="navClass('{{navLink.link}}')")
        a(href='#/{{navLink.link}}') {{navLink.link_text}}  

.content
  .pure-g-r
    block main

.footer
  .pure-menu.pure-menu-open.pure-menu-horizontal
    ul
      li
        a(href='#/faq') FAQ