.header
  .pure-menu.pure-menu-open.pure-menu-horizontal
    a.pure-menu-heading(href='#') Your Logo
    ul
      li
        a(href='#') Home
      li.pure-menu-selected
        a(href='#') About
      li
        a(href='#') Services
      li
        a(href='#/contact') Contact
.content
  .pure-g-r
    block main

.footer