extends layout
block main
  .pure-u-1
    .l-box
      h1 News
      .l-box
        .pure-u-3-5
          h2 Experian Feed
          #feed-content
        .pure-u-1-5.pure-hidden-phone
          h2 Twitter
          a(class="twitter-timeline", href="https://twitter.com/infrasonics", data-widget-id="464803765099311104") Tweets coming soon            