mixin breadcrumbs_from(bcList)
  - var sep = ""
  - var lastClass = ""
  ul.breadcrumbs
    each bc, index in bcList
      unless index == 0
        li.spacer!= sep 
      if index == bcList.length -1
        - lastClass = "bold"
      li: a(href="#{bc.url}", class="#{lastClass}") #{bc.name}
      - sep = "&gt;"
