mixin rm-intro-box(title, copy, image)
  .l-box
    .rm-intro-box.hover-shadow
      a(href="/companies/02425919")
        .pure-u-17-24
          .l-box
            .pure-u-1
              h2 #{title}
            .pure-u-1-2
              .half-divider
            .pure-u-1
              p.service-intro-copy #{copy}
        .pure-u-1-24
        .pure-u-5-24
          image(src="/images/services/#{image}.png", alt="RM #{title}")
        .pure-u-1-24

mixin rm-reports
  +rm-intro-box("UK and International Business Reports", "The only consolidator of all the major brand products from D&B, Experian, Equifax, EBR and RM.", "reports")

mixin rm-documents
  +rm-intro-box("Company Documents", "Available from Companies House and 200 countries across the globe, many instantly.", "docs")

mixin rm-uk-formations
  +rm-intro-box("UK Company Formations", "Fast, professional, easy.", "uk-formations")

mixin rm-int-formations
  +rm-intro-box("International Company Formations", "Simple, professional, cost effective.", "int-formations")

mixin rm-company-admin-services
  +rm-intro-box("Company Admin Services", "Making things simple for you.", "company-admin")