mixin rm-intro-box(title, copy, image)
  .l-box
    .rm-intro-box.hover-shadow
      a(href="/companies/02425919")
        .pure-u-17-24
          .l-box
            .pure-u-1
              h2 #{title}
            .pure-u-1-2
              .half-divider
            .pure-u-1
              p.service-intro-copy #{copy}
        .pure-u-1-24
        .pure-u-5-24
          image(src="/images/services/#{image}.png", alt="RM #{title}")
        .pure-u-1-24
