@import common

/*superclasses*/
$report
  padding 20px 20px
$merriweather-20
  font-family 'Merriweather', serif
  font-size 20px


/*Overrides*/
.pure-skin-rm
  .content, .header, .footer
    html, button, input, select, textarea, .pure-g [class *= "pure-u"], .pure-g-r [class *= "pure-u"]
      font-family 'Source Sans Pro', serif
      font-size 16px
      line-height 24px
      h1, h2, h3, h4
        font-family 'Merriweather', serif
        font-weight normal
        color rm-blue
      h1
        font-size 30px
        line-height 35px
        border-bottom 1px solid
        padding-bottom 20px
        margin-bottom 40px
      h1.no-border
        border none
        padding-bottom 0px
      h1.home
        font-size 45px
        line-height 45px
        margin 35px 0px 40px 0px
      h1.capitalize
        text-transform capitalize
      h1.reduced-bottom-margin
        margin-bottom 20px
      h2
        font-size 26px
        line-height 34px
      h3
        font-size 20px
      h3.underline
        border-bottom 1px solid
        padding-bottom 20px
        margin-bottom 60px
      h4.grey-font
        color rm-font-color
        font-weight bold
        margin-bottom 5px
      h3.international
        margin-top 0px
        margin-bottom 0px
      table
        width 100%
      .pure-table.simpleCart_items
        margin-bottom 10px
      .pure-table
        width 100%
        margin-top 20px
        margin-bottom 40px
        a
          text-decoration none
          color rm-blue
        tr
          padding 10px
        td, th
          border 0px
        thead
          background-color white
          th
            padding-top 15px
            padding-bottom 15px
            padding-right 20px
            font-weight normal
            font-family 'Merriweather', serif
            font-size 10px
        tbody
          td
            height 100%
            padding-top 15px
            padding-bottom 15px
          td.company-name
            font-weight bold
          td.country-name
            font-weight bold
          td.rm-blue
            color rm-blue
          td.number
            text-align center
          .cell-wrapper
            border-right 1px solid #ccc
            height 100%
            width 100%
            background red
          .pure-table-odd
            background-color #e5e5e5
            td
              background-color inherit
          tr, .pure-table-odd
            height 100%
            border-top 2px dashed rm-blue
            border-bottom 2px dashed rm-blue
            &:hover
              background-color rm-light-blue !important
      iframe
        border 0px
        overflow hidden
      .pure-form
        input, select
          height 40px
          border-radius 0px


  #top-nav-container
    .pure-menu
      li
        a
          padding 10px 10px


.pure-skin-rm .pure-button-primary,
.pure-skin-rm .pure-button-selected,
.pure-skin-rm a.pure-button-primary,
.pure-skin-rm a.pure-button-selected
    background-color white
    color rm-font-color
    border 1px solid rm-font-color
    font-weight bold

.pure-skin-rm .pure-button-secondary
    background-color rm-blue
    color white

.pure-skin-rm .pure-button-hover,
.pure-skin-rm .pure-button:hover
    background rm-blue
    color white


.pure-skin-rm .pure-menu li a:hover, .pure-skin-rm .pure-menu li a:focus
  color rm-blue
  background inherit

/*STRUCTURE*/
.container
  rm-layout()
  border 0px solid
/*header*/
.header
  background #fff
  padding-top 25px
  padding-bottom 20px
  border-bottom 3px solid rm-blue
  .container
    display flex
    align-items flex-end
  li.divider
    color rm-blue
    display none

  #rm-logo
    background url("/images/rmgroup-logo.png") no-repeat
    width 140px
    height 134px

  #moss-fon-logo
    background url("/images/moss-fon.png") no-repeat
    width 250px
    height 50px

  #shopping-cart-toggle
    border 0px
    padding 0px
    padding-left 10px
    padding-right 5px
    &:hover
      cursor pointer
    &:focus
      background-color white
      background-image none

/*body|content*/
.content
  color #333333
  padding-top 20px

  .breadcrumbs
    font-size small
    text-transform uppercase
    margin-bottom 50px
    list-style none
    padding-left 0px

    li.spacer
      margin 0px 8px

    li
      display inline-block
      margin 0px 2px
      a
        text-decoration none
        color rm-font-color
        &:hover
          text-decoration underline
.content.content-grey
  background rm-service-grey

/*footer*/
.footer
  background rm-blue
  padding 30px 0px 30px 0px
  font-size smaller
  .pure-menu
    background rm-blue
    a
      color white
    .divider
      color white

  .pure-menu li a:hover, .pure-skin-rm .pure-menu li a:focus
    color rm-font-color
    background inherit

/*PAGES*/
/*home*/
.rm-intro-box
  background rm-service-grey
  min-height 275px
  margin-top 15px
  margin-bottom 10px

  .half-divider
    border-bottom 1px solid rm-blue
    display block
  .service-intro-copy
    margin-top 0px
    color rm-font-color

.footer-padding
  min-height 150px

/*contact*/
#general-enquiries
  padding 20px
  background rm-service-grey
  h3
    margin-top 0px
  label
    font-weight bold
  address
    font-style normal

.contact
  background rm-service-grey
  margin-bottom 40px

  label
    font-weight bold
  .contact-thumbnail
    background-image url(http://placehold.it/200x200)
    width 200px
    height 200px
    margin-top 15px

#contact_documents
  .contact-thumbnail
    background-image url(/images/julia-kanger.jpg)

#contact_formations
  .contact-thumbnail
    background-image url(/images/amanda-coyle.jpg)

#contact_administration
  .contact-thumbnail
    background-image url(/images/nerisa-jarrett.jpg)

/*terms*/
li.terms-section
  padding 10px

/*faq*/
.faq-section
  ul
    list-style none
    padding-left 0px
    li
      background rm-service-grey
      margin-bottom  10px
      padding 15px 10px
      h3
        margin 0px
        a
          background url("/images/faq-sprite.png") 10px 13px no-repeat
          display block
          padding 10px
          padding-left 32px
          margin 0
          text-decoration none
          color rm-font-color
          font-size small
      h3.open
        a
          background-position 8px -88px
      p
        padding 10px 30px 20px 30px
        margin 0px


/*news*/
.news-item
  padding 10px 0px
  border-top 1px solid rm-blue
  h3
    a
      color rm-blue
      text-decoration none
  &:hover
    background rm-light-blue !important
#feed-content
  iframe
    width 300px
    height 300px
    margin-bottom 20px
    display none

/*Company*/
.company-data
  h4
    margin-bottom 3px

  p
    font-size 18px
    font-weight bold
    margin-top 0px
    margin-bottom 0px
    color rm-blue


.company-data
  margin-bottom 20px

.report-box
  background rm-service-grey
  display block
  min-height 280px
  margin-bottom 30px
  a
    text-decoration none
    color rm-font-color
  img
    background-color rm-service-grey
  .report-1
    @extends $report
    background #cce6ed
    margin-top -8px
  .report-2
    @extends $report
    background #B3DAE4
  .report-3
    @extends $report
    background #9ACDDB
  .report-name
    min-height 53px
  .report-price
    font-size x-large
    line-height 36px

/*about*/
.stats
  margin-top 50px
  text-align center
  img
    width 160px
    height 160px
.partners
  margin-top 50px
  .logo
    margin-left 15px
    margin-bottom 15px
    min-height 146px
    background-color white
  .no-left-margin
    margin-left 0px

/*services*/
.quote
  padding 20px
  padding-left 60px

.services
  .rm-intro-box
    min-height 344px

/*search*/
#search-form
  margin-top 30px
  .search-box
    fieldset
      background-color rm-dark-grey
      padding-left 30px
      padding-right 30px
      padding-bottom 30px
      #company-suffix
        width 100%
      #search-term
        width 100%
        padding-left 10px
        box-sizing border-box
      #search-submit
        width 100%
      h3
        color white
.search
  a
    text-decoration none
  .intro-copy
    margin-top 0px
#num-search-results
  @extends $merriweather-20
#back-to-search
  text-align right

/*formations*/
#already-registered
  margin-top 30px

/*cart*/
.simpleCart_total
  border-bottom 4px solid #0184a2
  // margin-bottom 20px
  padding 10px
  padding-bottom 0px
  text-align center

.pure-skin-rm
  .modal-footer
    border 0px solid red

.item_add
  width 100%

/*general*/
.l-box
  padding 5px 20px 5px 20px

.highlight
  color red

.border-bottom
  border-bottom 1px solid rm-blue
  margin-top 30px
  margin-bottom 30px

.no-border
  border none

.hide-text
  text-indent 130% // webkit needs more than 100%
  white-space nowrap
  overflow hidden

.bold
  font-weight bold

.intro-copy
  line-height 30px
  @extends $merriweather-20
.intro-icon
  margin-left auto
  margin-right auto
  display block
.rm-service-grey
  background-color rm-service-grey

.hidden
  display none

.pure-g-r
  .pdf
    width 39px
    height 55px
    margin-top 22px

  .fa-quote-left, .fa-cog
    color rm-blue

  .rm-blue
    color rm-blue
    text-decoration none
.capitalize
  text-transform capitalize

// Polymer
google-map
  display block
  height 300px
  margin-bottom 40px

/*media*/
@media screen and (min-width: 768px)

  .header
    /*pure hidden phone not working in menu*/
    li.divider
      display inline-block
    /*safari can't handle Flex*/
    #moss-fon-logo-container, #top-nav-container
      margin-top 65px

  .faq-section
    ul
      li
        h3
          a
            font-size inherit

  .pure-skin-rm
    .content, .header, .footer
      html, button, input, select, textarea, .pure-g [class *= "pure-u"], .pure-g-r [class *= "pure-u"]
        .pure-table
          thead
            th
              font-size 16px



