extends ../index

block main
  .pure-u-1
    .l-box
      +breadcrumbs_from(bcList)
      h1 #{title}
      .pure-g-r
        .pure-u-1-2
          p.intro-copy 
            span.highlight TODO
            | 
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at aliquet sem, non blandit sem. Sed in luctus justo. Nam pellentesque, risus sed pulvinar tempor, lectus massa auctor enim, in sodales massa ante ultricies nulla. Mauris vitae mattis quam
        br
        br
        .pure-u-1
          h3.underline Company Stats
          .pure-g-r.stats
            .pure-u-1-3
              img(src="/images/stats/uk-docs.png", alt="UK commpanies house documents")
              .l-box
                h4 Instant access to UK Companies House Documents either direct or via the RMdoc database on all pre and post 1995 UK documents
            .pure-u-1-3
              img(src="/images/stats/int-docs.png", alt="International private company documents")
              .l-box
                h4 International private company original documents available in over 200 countries mostly in under an hour, via RMnet the only network of Regitries and local lawyers globally
            .pure-u-1-3
              img(src="/images/stats/reports.png", alt="Uk & International business reports")
              .l-box
                h4 Business Reports available in the UK and Internationally from all Information providers aggregated into a single site access platform

block main-white
  .pure-u-1
    .l-box
      h3 Partner Organisations
      .pure-g-r.partners
        each logo, index in ["D&B", "Experian", "Equifax", "Companies House", "Mossack Fonseca", "Jordans"]
          - firstClass = ""
          if index % 3 == 0
            - firstClass = "no-left-margin"
          .pure-u-1-3
            .logo(class="#{firstClass}")
              img(src="/images/partner-logos/#{slug(logo).toLowerCase()}.png", alt="#{logo} partner organisation")

block main-footer
  .pure-u-1
    .l-box
      h3 Our Services
  include ../includes/_services.jade
