extends ../index

block main
  .pure-u-1
    +breadcrumbs_from(bcList)
    h1 #{title}

    .pure-g-r
      .pure-u-1-2
        p.intro-copy Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at aliquet sem, non blandit sem. Sed in luctus justo. Nam pellentesque, risus sed pulvinar tempor, lectus massa auctor enim, in sodales massa ante ultricies nulla. Mauris vitae mattis quam
      
  include ../includes/_services.jade

block main-white
  .pure-u-1
    h2 Partner Organisations
    br
    br
    br

block main-footer
  .pure-u-1
    h2 Company Stats
    .pure-g-r
      .pure-u-1-3
        h4 Instant access to UK Companies House Documents
        p either direct or via the RMdoc database on all pre and post 1995 UK documents
      .pure-u-1-3
        h4 International private company original documents available in over 200 countries
        p mostly in under an hour, via RMnet the only network of Regitries and local lawyers globally
      .pure-u-1-3
        h4 Business Reports available in the UK and Internationally
        p from all Information providers aggregated into a single site access platform