extends ../index
include ../mixins/m-contact

block main
  article.pure-u-1
    .l-box
      +breadcrumbs_from(bcList)

      h1= title

      p
        | RM offer a range of Company Admin Services freeing you up to focus on your core business activities. You can view a selection of
        a(href="/company-admin-services/prices")  prices here
        |  or continue reading for further details.

      #admin-sections
        each section in admin_sections
          .admin-section
            h3= section.title
            p= section.intro

            if section.bullets
              ul
                each bullet in section.bullets
                  li= bullet

  include ../includes/_contact-nerissa
