extends ../index
include ../mixins/m-contact

block main
  .pure-u-1
    .l-box
      +breadcrumbs_from(bcList)
      h1 Contact RM

  .pure-u-3-5
    .l-box
      #contact_formations.contact
        +contact("Company Formations", "Amanda Coyle", "+44 (0) 1462 427 300", "amanda@rmonline.com", "We are the largest formation firm in the industry and it will be our pleasure to assist you with a Company Formation anywhere and demonstrate our service and price promise. Please call me or any member of my team for all your UK and International Company Formations and Support Services.")
      #contact_documents.contact
        +contact("Documents & Reports", "Julia Kanger", "+44 (0) 1462 427 300", "infodesk@rmonline.com", "For information on UK and International company documents contact our team on the above details.")
      #contact_administration.contact
        +contact("Company Admin Services", "Nerisa Jarrett", "+44 (0) 1462 427 300", "nerisa@rmonline.com", "For post-incorporation enquires please contact Nerisa Jarrett on the email or number listed above.")
  .pure-u-2-5
    .l-box
      #general-enquiries
        h3 General Enquiries

        p
          label Telephone
          br
          span#telephone| +44 (0) 1462 427 300
          br
          label Facsimile
          br
          | +44 (0) 1462 427 375
          br
          label Email
          br
          a(href="mailto:sales@rmonline.com?subject=RM Online: contact from website&body=Hi sales....") sales@rmonline.com

        address
          label Address
          br
          | Invision house,
          br
          | Wilbury Way,
          br
          | Hitchin,
          br
          | Hertfordshire
          br
          | SG4 0TW, UK
          br
          br
          small
            a#maps_link(href="https://goo.gl/maps/QiCjp", target="blank") Open in Google maps
