extends ../index

block main
  .pure-u-1
    .l-box
      +breadcrumbs_from(bcList)
      h1= title
      .pure-g-r
        .pure-u-16-24

          h2 The Raymond Morris Group Limited and its subsidiaries (RM)
          p RM is an organisation committed to creating business growth whilst ensuring that impact on the environment is minimised and that all activities are conducted safely by well-trained and qualified employees.

          h3 Our policies and procedures for CSR are summarised as follows:

          p
            |The main responsibility for developing corporate policies on social, ethical and environmental matters and for reviewing their effectiveness lies with the RM Board. It is then the responsibility of individual managers to communicate and implement such policies within their particular business area taking account of legislation to ensure compliance with the policy and to maintain, review and refine procedures accordingly.
            |RM policies and procedures, including those relating to social, environmental, health and safety, employment and ethical matters, are communicated to all staff via the RM Employee Handbook. All policies and procedures are reviewed regularly; any updates are communicated to staff.

          p The three key areas of corporate social responsibility at RM are:

          ul
            li Environment
            li Health and Safety
            li Human rights, employment and ethics

          h3 Environment
          p RM is committed to adopting environmentally responsible policies.

          h3 Health and safety
          p RM recognises its health and safety duties and responsibilities and complies with the relevant health and safety legislation. The Managing Director has overall responsibility for health and safety.

          h3 Human rights, employment and ethics

          p It is our policy to adhere to all legislation relating to employment rights and equal opportunities, with particular reference to non-discrimination on the basis of ethnic origin, religion, gender, age, marital status, disability or sexual orientation.

          p We ensure that physical, verbal and psychological abuse, or sexual or other forms of harassment towards employees is not tolerated.
          p We ensure that disabled persons are recruited, trained and promoted on the basis of aptitude and ability. If employees become disabled, every effort is made to retain them and when necessary re-train them for appropriate posts.
          p We pay wages and benefits which meet or exceed national minimum requirements and adhere to working time regulations where applicable.
          p We do not use forced labour nor employ workers under the school-leaving age.
          p We provide a safe and secure workplace and promote good health and safety and environmental practices.
          p We adhere to applicable laws regarding the freedom of employees to associate or bargain collectively without fear of discrimination.
          p All employees are expected to behave with integrity and honesty and adhere to the code of ethics.
          p Employees may report any concerns they may have over unethical business practices or conduct, dangers to health and safety, or breach of company policies. Any such disclosures are appropriately investigated. In addition, RM is committed to protecting the career and reputation of employees who report wrongdoing in accordance with established procedures, as long as their disclosures are delivered in good faith and seek to safeguard the best interests of the company.
          p We do not give or receive any bribes, extra contractual gratuities, inducements, facilitation fees or similar payments.
          p We do not give to customers or business contacts, or allow by employees to receive any gifts, whether in cash or kind, in excess of £30- £75 in value, unless in the course of normally accepted business entertainment or the subject of prior written approval by management.
          p We do not donate (including sponsorship, subscriptions or provision of employee time or facilities) to any political party or similar organisation.
          p We ensure we purchase legal licences to all software in use.
          p We try to ensure that there are no conflicts of interest between employee's private financial activities and their part in the conduct of RM businesses.
          p RM recognises the value that its employees create for the business and its commitment to training and personal development, together with remuneration policies which are designed to reward achievement and emphasise the importance of retaining staff.
          p RM provides information to employees on a regular basis. This information includes matters relating to company performance, its prospects and the future outlook for business.
          p RM supports local charities and participates in a range of community activities.
