extends ../index

block main
  .pure-u-1
    .l-box
      h1 Frequently Asked Questions
      .l-box
        each section in faq_sections
          .faq-section
            h3= section.title
            ul
              each faq in section.faqs
                li
                  h4!= faq.q
                  p!= faq.a
