extends ../index

block main
  .pure-u-1
    .l-box
      +breadcrumbs_from(bcList)

      h1 Frequently Asked Questions

      #faqs
        each section in faq_sections
          .faq-section
            h2= section.title
            ul
              each faq in section.faqs
                li
                  h3!= faq.q
                  p!= faq.a
