extends ../index

block main
  .pure-u-1
    .pure-g-r
      .pure-u-1
        .l-box
          h1.hidden= h1
          p.heading.no-border.home= heading
          p.intro-copy= intro

  include ../includes/_services.jade


block main-grey
  include ../includes/_partners

block main-footer
  .pure-u-1.home-below-fold
    .pure-g-r
      .pure-u-1
        .l-box
          p= outro
