extends ../index

block main
  .pure-u-1
    .pure-g-r
      .pure-u-1-2
        .l-box
          h1.no-border.home Welcome to RM
          p.intro-copy RM have been assisting law firms, accountants and professional service organisations with company information for due diligence and forming companies around the Globe for over 40 years. The services are discreet, professional and cost effective.
      .pure-u-1-2

  include ../includes/_services.jade
