.header
  .pure-g-r
    .pure-u-1
      .l-box
        hr
    .pure-u-1-4
      .l-box
        a.pure-menu-heading(href='#')
          #rm-logo.hide-text RM Logo
          
    .pure-u-10-24
      .pure-menu.pure-menu-open
        ul(ng-controller="NavCtrl", ng-init="partner='#{partner}'")
          li(ng-repeat="navLink in navLinks", ng-class="navClass('{{navLink.link}}')")
            a(href='#/{{navLink.link}}') {{navLink.link_text}}  
    .pure-u-8-24
      .l-box
        a.pure-menu-heading(href='#')
          #moss-fon-logo.hide-text Mossack Fonseca
    .pure-u-1
      .l-box
        hr

.content
  .pure-g-r
    block main

.footer
  .pure-menu.pure-menu-open.pure-menu-horizontal
    ul
      li
        a(href='#/faq') FAQ
      li
        a(href='#/terms') T&Cs