extends ../index

block main
  script.
    // Twitter embed code
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

  .pure-u-1
    .l-box
      +breadcrumbs_from(bcList)
      h1 #{title}

    .pure-g-r
      .pure-u-3-5
        .l-box
          h2 Experian Feed
          table#feed-content.pure-table
      .pure-u-2-5.pure-hidden-phone
        .l-box
          h2 Twitter
          a(class="twitter-timeline", href="https://twitter.com/The_RM_Group", data-widget-id="466236813112115202") Tweets from The_RM_Group
