extends ../index
include ../mixins/m-home.jade

block main
  .pure-u-1
    .l-box
      +breadcrumbs_from(bcList)
      h1 #{title}
      .pure-g-r
        .pure-u-1-2
          p.intro-copy
            | RM are information and company formation specialists for Lawyers
            | Accountants and Professional Service Organisations and have served the market for over 40 years.
            | Choose RM for all of documents of AML and KYC and company structures globally.
        br
        br
  .pure-u-1
    .l-box
      h3.underline What our customers say
  .pure-u-1
    .pure-g-r
      .pure-u-2-5.services
        +rm-reports
      .pure-u-3-5
        .quote
          i.fa.fa-quote-left.fa-3x
          p.intro-copy My partner and I had no idea what state our finances were in and thanks to RM's credit reports we are both on track to repairing our financial status and can manage our money so much better.
      .pure-u-1.border-bottom
  .pure-u-1
    .pure-g-r
      .pure-u-3-5
        .quote
          i.fa.fa-quote-left.fa-3x
          p.intro-copy
            | RM's 50p Companies House documents have saved me a fortune!
      .pure-u-2-5.services
        +rm-documents

      .pure-u-1.border-bottom

  .pure-u-1
    .pure-g-r
      .pure-u-2-5.services
        +rm-uk-formations
      .pure-u-3-5
        .quote
          i.fa.fa-quote-left.fa-3x
          p.intro-copy
            | Great value for money with friendly and knowledgeable staff.
      .pure-u-1.border-bottom

  .pure-u-1
    .pure-g-r
      .pure-u-3-5
        .quote
          i.fa.fa-quote-left.fa-3x
          p.intro-copy
            | I am really impressed with the speed of your service and your knowledge of the available jurisdictions.
      .pure-u-2-5.services
        +rm-int-formations

      .pure-u-1.border-bottom

  .pure-u-1
    .pure-g-r
      .pure-u-2-5.services
        +rm-company-admin-services
      .pure-u-3-5
        .quote
          i.fa.fa-quote-left.fa-3x
          p.intro-copy
            | The admin department provide a level of service you don’t get anywhere else. Often faced with difficult questions and time critical issues, the speed and manner, in which they respond to our requests is simply the best.
