extends ../index

block main

  .pure-u-1
    .l-box
      +breadcrumbs_from(bcList)
      
      h1 Terms and Conditions
      .pure-g-r
        .pure-u-16-24
          ol
            each term in terms
              li.terms-section= term
