extends ../index
include ../mixins/m-contact

block main
  .pure-u-1
    .l-box
      +breadcrumbs_from(bcList)
      h1 #{title}
      .pure-g-r
        .pure-u-1-2
          p.intro-copy
            span.highlight TODO
            |  -
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at aliquet sem, non blandit sem. Sed in luctus justo. Nam pellentesque, risus sed pulvinar tempor, lectus massa auctor enim, in sodales massa ante ultricies nulla. Mauris vitae mattis quam
        .pure-u-1-2
          .l-box
            img.intro-icon(src="/images/formations/international-icon-large.png", alt="international company information")
          br
  include _jurisdictions-table
