extends ../index

block main
  - var searchTitle = "Check company name availability"
  - var searchButton = "Check name"
  - var searchURL = "/company-formations/UK/results"
  include ../includes/_search.jade
